@import url(https://db.onlinewebfonts.com/c/953e30bac9020d26a8d0ffd0c9fe5ebb?family=HeroicCondensed-Medium);

@font-face {
    font-family: "HeroicCondensed-Medium";
    src: url("https://db.onlinewebfonts.com/t/953e30bac9020d26a8d0ffd0c9fe5ebb.eot");
    src: url("https://db.onlinewebfonts.com/t/953e30bac9020d26a8d0ffd0c9fe5ebb.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/953e30bac9020d26a8d0ffd0c9fe5ebb.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/953e30bac9020d26a8d0ffd0c9fe5ebb.woff")format("woff"), url("https://db.onlinewebfonts.com/t/953e30bac9020d26a8d0ffd0c9fe5ebb.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/953e30bac9020d26a8d0ffd0c9fe5ebb.svg#HeroicCondensed-Medium")format("svg");
}

body {
    background-image: url(/IMG/WALLPAPER.jpg);
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: "HeroicCondensed-Medium";
    color: #FFFFFF;
    font-size: 8rem;
    text-align: center;
}

h2 {
    font-family: "HeroicCondensed-Medium";
    color: #FFFFFF;
    font-size: 6rem;
    text-align: center;
}

h3 {
    font-family: "HeroicCondensed-Medium";
    color: #FFFFFF;
    font-size: 4rem;
    text-align: center;
}

p {
    font-family: "HeroicCondensed-Medium";
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
}

nav {
    background-image: url(/IMG/NAVBAR.png);
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.currentPage {
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}

a {
    font-family: "HeroicCondensed-Medium";
    font-size: 2rem;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    font-family: "HeroicCondensed-Medium";
    font-size: 2rem;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
}

/* a {
    color: #FFFFFF;
    font-family: "HeroicCondensed-Medium";
    font-size: 3rem;
    text-decoration: none;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vh;
    padding-bottom: 10vh;
}

a:hover {
    color: #FFFFFF;
    font-family: "HeroicCondensed-Medium";
    font-size: 3rem;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
} */