@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Panchang";
    src: url("../public/fonts/Panchang-Extralight.woff2") format("woff2"),
    url("../public/fonts/Panchang-Extralight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("../public/fonts/Panchang-Light.woff2") format("woff2"),
    url("../public/fonts/Panchang-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("../public/fonts/Panchang-Regular.woff2") format("woff2"),
    url("../public/fonts/Panchang-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("../public/fonts/Panchang-Medium.woff2") format("woff2"),
    url("../public/fonts/Panchang-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("../public/fonts/Panchang-Semibold.woff2") format("woff2"),
    url("../public/fonts/Panchang-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("../public/fonts/Panchang-Bold.woff2") format("woff2"),
    url("../public/fonts/Panchang-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("../public/fonts/Panchang-Extrabold.woff2") format("woff2"),
    url("../public/fonts/Panchang-Extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

.panchang-font {
    font-family: "Panchang", sans-serif;
}

.gradient-background {
    background: linear-gradient(0deg, #121212, #1a1a2e, #243a5e);
    background-size: 180% 180%;
    animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
