@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Panchang";
    src: url("/fonts/Panchang-Extralight.woff2") format("woff2"),
    url("/fonts/Panchang-Extralight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("/fonts/Panchang-Light.woff2") format("woff2"),
    url("/fonts/Panchang-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("/fonts/Panchang-Regular.woff2") format("woff2"),
    url("/fonts/Panchang-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("/fonts/Panchang-Medium.woff2") format("woff2"),
    url("/fonts/Panchang-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("/fonts/Panchang-Semibold.woff2") format("woff2"),
    url("/fonts/Panchang-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("/fonts/Panchang-Bold.woff2") format("woff2"),
    url("/fonts/Panchang-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Panchang";
    src: url("/fonts/Panchang-Extrabold.woff2") format("woff2"),
    url("/fonts/Panchang-Extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

.panchang-font {
    font-family: "Panchang", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.project-image {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #60A5FA;
}

.gradient-underline {
    position: relative;
}

.gradient-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #60A5FA;
}

.nav-link {
    position: relative;
    padding-bottom: 2px;
}

.nav-link:hover::after,
.nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #60A5FA;
}

.gradient-underline-nav {
    position: relative;
}

.gradient-underline-nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #60A5FA;
}

.gradient-underline-footer {
    position: relative;
}

.gradient-underline-footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: #60A5FA;
}
